.king-of-lobsters {
  display: block;
  max-width: 258px;
  margin-bottom: 72px;
  margin: 0 auto 72px auto;
}

.lobster {
  cursor: pointer;
  max-width: 164px;

  img {
    border-radius: 100%;
  }
}
