.king-of-lobsters {
  display: block;
  max-width: 258px;
  margin-bottom: 72px;
  margin: 0 auto 72px auto;
}

.loading-container{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lobster {
  cursor: pointer;
  max-width: 164px;

  img {
    border-radius: 100%;
  }
}
