.vote-option {
  margin: 20px;
}

.vote-selectable {
  &:hover {
    opacity: 0.85;
  }
}

.img-vote {
  width: 100%;
  object-fit: cover;
  background-size: cover;
  position: relative;

}

.outFocus-option {
    opacity: 0.4
}

.fadein {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  &:hover {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.45;
	}
	100% {
		opacity: 1;
	}
}